<app-header></app-header>

<div class="background">
  <mat-card class="container">
    <div class="logo-container">
      <img src="assets/img/LOGASO.png" alt="LOGO" class="logo">
    </div>
    <h2>Restablecer Contraseña</h2>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill" class="full-width" [ngClass]="{'error': forgotPasswordForm.get('correo')?.invalid && forgotPasswordForm.get('correo')?.touched}">
        <mat-label>Correo electrónico</mat-label>
        <input matInput type="email" formControlName="correo" placeholder="Ingresa tu correo" required>
        <mat-error *ngIf="forgotPasswordForm.get('correo')?.hasError('required')">El correo es requerido</mat-error>
        <mat-error *ngIf="forgotPasswordForm.get('correo')?.hasError('email')">Correo no válido</mat-error>
      </mat-form-field>
      <div class="action-buttons">
        <button mat-button type="submit" class="reset-button">Enviar</button>
      </div>
    </form>
    <div class="login-link" (click)="openLoginDialog()">¿Ya tienes cuenta? Inicia sesión</div>
  </mat-card>
</div>

<app-footer></app-footer>
