<section class="perfil-usuario">
  <div class="contenedor-perfil">
    <div class="avatar-perfil">
      <img src="../../../assets/img/userNLL.png" alt="img">
    </div>
    <div class="opcciones-perfil">
    </div>
  </div>
  <div class="perfil-usuario-info">
    <ul class="lista-datos">
      <li>
        <div><i class="fa-solid fa-address-card" style="color: #000000;"></i> Nombres:</div>
        <div>
          <p>{{name}} {{lastname}}</p>
        </div>
      </li>
      <li>
        <div><i class="fa-solid fa-envelope" style="color: #000000;"></i> Correo: </div>
        <div>
          <p>{{email}}</p>
        </div>
      </li>
      <li>
        <div><i class="fa-solid fa-phone" style="color: #000000;"></i> Teléfono: </div>
        <div>
          <p>{{phonenumber}}</p>
        </div>
      </li>
    </ul>
  </div>
  <button (click)="openEditDialog()">Editar Perfil</button>
</section>
