/* Estilos generales para la navbar */
.navbar {
  background-color: #800080;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header.navbarlogueada {
  background-color: #3DB6B1;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

/* Estilos para el logotipo */
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px; /* Ajusta el tamaño según necesites */
  margin-right: 10px;
}

.logotexto {
  color: white;
  font-size: 18px; /* Ajusta el tamaño según necesites */
  line-height: 1.2;
  text-align: left;
}

/* Estilos para el menú de navegación */
.nav-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

/* Estilos para el icono de usuario */
.user {
  display: flex;
  align-items: center;
}

.usericon {
  height: 30px; /* Ajusta el tamaño según necesites */
  cursor: pointer;
}

.usericon img {
  height: 100%; /* Asegura que la imagen ocupe todo el contorno del contenedor */
}

.nav-menu-link{
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 550;
  padding-right: 10px;
  font-size: 25px;
  margin-inline: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
}

.nav-menu-link:hover{
  text-decoration: underline;
  font-size: 30px;
  transition: 0.5s;
}

