<header class="navbar">
  <nav class="nav">
    <a routerLink="/" class="logo">
      <img src="assets/img/LOGASO.png">
      <span class="logotexto">MAKE THE<br>DIFFERENCE</span>
    </a>
  </nav>
  <nav>
    <ul class="nav-menu">
      <div class="user">
        <li class="usericon">
          <img *ngIf="!isLoggedIn" src="assets/img/usuarioBContorno.png" class="usericon" (click)="openLoginDialog()">
          <a *ngIf="isLoggedIn" [routerLink]="['user']">
            <img src="assets/img/usuarioBContorno.png" class="usericon">
          </a>
        </li>
      </div>
    </ul>
  </nav>
</header>