<app-header></app-header>

<div class="background">
  <mat-card class="container">
    <h2>Cambiar Contraseña</h2>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill" class="full-width" [ngClass]="{'error': resetPasswordForm.get('token')?.invalid && resetPasswordForm.get('token')?.touched}">
        <mat-label>Código de Restablecimiento</mat-label>
        <input matInput formControlName="token" placeholder="Ingresa el código de restablecimiento" required>
        <mat-error *ngIf="resetPasswordForm.get('token')?.hasError('required')">El código es requerido</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="full-width" [ngClass]="{'error': resetPasswordForm.get('email')?.invalid && resetPasswordForm.get('email')?.touched}">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Ingresa tu email" required>
        <mat-error *ngIf="resetPasswordForm.get('email')?.hasError('required')">El email es requerido</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="full-width" [ngClass]="{'error': resetPasswordForm.get('password')?.invalid && resetPasswordForm.get('password')?.touched}">
        <mat-label>Nueva Contraseña</mat-label>
        <input matInput type="password" formControlName="password" placeholder="Ingresa tu nueva contraseña" required>
        <mat-error *ngIf="resetPasswordForm.get('password')?.hasError('required')">La contraseña es requerida</mat-error>
      </mat-form-field>
      <div class="action-buttons">
        <button mat-button type="submit" class="reset-button" [disabled]="isLoading">Cambiar Contraseña</button>
      </div>
      <mat-progress-spinner *ngIf="isLoading" mode="indeterminate"></mat-progress-spinner>
    </form>
  </mat-card>
</div>

<app-footer></app-footer>
