<header>
  <nav class="navbar">
    <a class="logo">
      <img src="assets/img/LOGASO.png" alt="LOGO">
      <span class="logotexto">MAKE THE<br>DIFFERENCE</span>
    </a>

    <ul class="nav-menu">
      <li class="nav-menu-item" *ngIf="isUser">
        <a routerLink="/intranet/user/calendario" class="nav-menu-link">CALENDARIO</a>
      </li>
      <li class="nav-menu-item" *ngIf="isUser">
        <a routerLink="/intranet/user/actividades" class="nav-menu-link">ACTIVIDADES</a>
      </li>

      <li class="nav-menu-item" *ngIf="isAdmin">
        <a routerLink="/intranet/admin/actividades" class="nav-menu-link">ACTIVIDADES</a>
      </li>

      <li class="nav-menu-item" *ngIf="isAdmin">
        <a routerLink="/intranet/admin/calendario" class="nav-menu-link">CALENDARIO</a>
      </li>
      <li class="nav-menu-item" *ngIf="isAdmin">
        <a routerLink="/intranet/admin/lista-usuarios" class="nav-menu-link">USUARIOS</a>
      </li>

      <li class="nav-menu-item" *ngIf="isAdmin">
        <a routerLink="/intranet/admin/perfil" class="nav-menu-link">{{ userName | uppercase }}</a>
      </li>

      <li class="nav-menu-item" *ngIf="isUser">
        <a routerLink="/intranet/user/perfil" class="nav-menu-link">{{ userName | uppercase }}</a>
      </li>

      <div class="user">
        <li class="usericon">
          <img src="../../../assets/img/arrow-right-to-bracket-solid.png" alt="User Icon" class="usericon" routerLink="user" (click)="logout()">
        </li>
      </div>
    </ul>
  </nav>
</header>
